body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
img {
  width: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  padding: 16px 20px;
  justify-self: center;
  width: 500px;
  background-color: grey;
  text-align: center;
}
form input {
  font-size: 16px;
  width: 220px;
  margin-bottom: 7px;
}
form textarea {
  font-size: 16px;
}
form select {
  font-size: 14px;
}
form button {
  font-size: 19px;
  cursor: pointer;
  grid-column: span 2;
}
